@use "reset";
@use "variables/global";
@use "themes/dark";
@use "themes/light";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.contentPage {
    display: flex;
}

.pageWrapper {
    flex-grow: 1;
    padding: 20px;
}
