.Loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: var(--inverted-bg-color);
    border-radius: 15% 15% 35% 35%;
}

.Loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid var(--inverted-bg-color);
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}

.Loader::before {
    content: '';  
    position: absolute;
    width: 1px;
    height: 10px;
    color: var(--inverted-bg-color);
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 2px 0 rgb(255 255 255 / 0%), 12px 0 rgb(255 255 255 / 30%), 20px 0 rgb(255 255 255 / 0%);
    }

    50% {
        box-shadow: 2px -5px var(--inverted-bg-color), 12px -3px var(--inverted-bg-color), 20px -2px var(--inverted-bg-color);
    }

    100% {
        box-shadow: 2px -8px rgb(255 255 255 / 0%), 12px -5px rgb(255 255 255 / 0%), 20px -5px rgb(255 255 255 / 0%);
    }
}