.app.light {
	--bg-color: #d1c8e1;
	--inverted-bg-color: #383844;

	--primary-color: #b370b0;
	--secondary-color: #87255b;

	--inverted-primary-color: #c3c3e6;
	--inverted-secondary-color: #d1c8e1;
}
