.Navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 20px;
}

.links {
	margin-left: auto;
	gap: 20px;
	display: flex;
}
